html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
}

#body-wrap {
  height: 100%;
  width: 100%;
  background-color: rgb(239, 217, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 3em;
  width: 100%;
  background-color: #F5E7E0;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav > a {
  padding: 1em;
}

footer {
  height: 3em;
  width: 100%;
  background-color: #F5E7E0;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-window {
  height: 100%;
  width: 100%;
  background-color: #F5E7E0;
  border-radius: 5px;
  border: 1px solid lightgray;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

#login-window.invisible {
  display: none;
}

#chart {
  height: fit-content;
  border-radius: 5px;
  padding: 2em;
  display: flex;
  position: relative;
}

#chart table {
  background-color: #FAF3F0;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#chart th {
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

#chart tbody > tr > th {
  text-align: left;
}

#chart td {
  text-align: center;
  margin-right: 3px;
  margin-left: 3px;
  padding: 3px;
}

#chart th.name-heading {
  font-weight: bold;
  text-align: center;
}

#reset-btn {
  display: inline;
  position: absolute;
  right: 3.5em;
  bottom: 0.5em;
}

#error-msg {
  color: red;
}

#error-msg.invisible {
  display: none;
}

/* media queries for mobile devices */

/* PORTRAIT MODE */
@media only screen and (max-width: 500px) {
  #body-wrap {
    height: fit-content;
    width: 100vw;
    overflow: hidden;
  }
  
  #chart {
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  #chart table {
    width: 90vw;
    background-color: #FAF3F0;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  nav {
    height: 2em;
    width: 100vw;
  }

  nav > a {
    padding-right: 2em;
  }

  footer {
    height: 2em;
    width: 100%;
  }
}

/* LANDSCAPE MODE */
@media only screen and (max-height: 500px) {
  #body-wrap {
    height: 100vh;
    width: fit-content;
    overflow: hidden;
  }

  #chart {
    height: fit-content;
    width: 100vw;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
  }

  #chart table {
    height: fit-content;
    background-color: #FAF3F0;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  #reset-btn {
    bottom: 0;
  }

  nav {
    height: 2em;
    width: 100%;
  }

  nav > a {
    padding-right: 3em;
  }

  footer {
    height: 2em;
    width: 100%;
  }
}