html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
}

#body-wrap {
  height: 100%;
  weight: 100%;
  background-color: rgb(239, 217, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 3em;
  width: 100%;
  background-color: #F5E7E0;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav > a {
  padding: 1em;
}

footer {
  height: 3em;
  width: 100%;
  background-color: #F5E7E0;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart {
  height: 50%;
  border-radius: 5px;
  padding: 1em;
  display: flex;
}

#chart table {
  background-color: #FAF3F0;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

#chart th {
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

#chart tbody > tr > th {
  text-align: left;
}

#chart td {
  text-align: center;
  margin-right: 3px;
  margin-left: 3px;
  padding: 3px;
}

#chart th.name-heading {
  font-weight: bold;
  text-align: center;
}